
@font-face {
    font-family: "CoreSans";
    src: url("../fonts/CoreSans/S-Core - CoreSansCR-15Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CoreSans";
    src: url("../fonts/CoreSans/S-Core - CoreSansCR-45Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CoreSans";
    src: url("../fonts/CoreSans/S-Core - CoreSansCR-55Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CoreSans";
    src: url("../fonts/CoreSans/S-Core - CoreSansCR-75ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-font: "CoreSans";
    --main-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 400;
    line-height: 1.2;
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: color .3s ease;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    height: 80px;
    background: linear-gradient(90deg, #252525 0%, #363636 51.69%, #272727 100%);
}

.footer {
    min-height: 80px;
    background: linear-gradient(90deg, #252525 0%, #363636 51.69%, #272727 100%);
    color: #ffffff;
}